<!DOCTYPE html>
<html>
<head>
    <title>Inventicks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>📦 Welcome to Inventicks</h1>

<p style="text-align:center;">
    Manage your inventory easily 🚀
</p>

<br>

<div style="text-align:center;">
    <a href="/inventory"><button>Inventory</button></a>
    <a href="/sales"><button>Sales</button></a>
    <a href="/dashboard"><button>Dashboard</button></a>
</div>

</div>

</body>
</html>